# Working files
kml_sample

# VSCode files
.vscode
*workspace

# Working files
/*.pdf
/*.kml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
