# Working files
kml_sample
output
rutrail

# VSCode files
.vscode
*workspace

# Working files
/*.pdf
/*.kml
**/done_list.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
